.box {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.separado {
    flex-wrap: nowrap;
}

.imagem {
    height: fit-content;
}

img {
    width: 200px;
}