* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

header {
    display: flex;
    justify-content: center;
    height: 15vh;
}

header>h1 {
    margin: 10px;
    width: 90%;
    display: flex;
    background-color: rgb(48, 140, 140);
    color: white;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main {
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

label~button {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: transparent;
    border: 1px solid gray;
}

div.centralizar>button {
    min-width: 150px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(8, 61, 84);
    color: white;
    font-weight: bold;
}

input {
    min-width: 100px;
    width: 100%;
    display: block;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-indent: 5px;
}

#lupa {
    width: 100%;
}

.centralizar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

.alinhar {
    align-items: center;
    gap: 10px;
}

.row {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    .row {
        flex-wrap: wrap;
    }

    .column {
        align-items: center;
    }
}
