@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: 1px solid red;
}

header {
    display: flex;
    height: 100px;
    background-color: #010626;
    align-items: center;
    justify-content: space-between
}

#logo {
    display: flex;
    align-items: center;
}

#links {
    display: flex;
    list-style-type: none;
}

#links>li {
    width: 100px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: "Graduate", serif;
}